In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from scipy.io import loadmat
mat = loadmat(r'/Users/varunpatro/Desktop/OBEG/mat_files/data_ingestion_02-Aug-2022_07_03_19_compilation.mat')

In [4]:
data = mat['data_all']
mdtype = data.dtype
ndata = {n: data[n][0, 0] for n in mdtype.names}
columns = [n for n, v in ndata.items() if v.size == ndata['ncast']]
df = pd.DataFrame(np.concatenate([ndata[c] for c in columns], axis=1),
                  columns=columns)

In [26]:
dates = ndata['date']

In [28]:
dates.shape

(2154307, 6)

In [29]:
dates = pd.DataFrame(dates)

In [32]:
dates.to_csv('dates.csv')

In [33]:
df.shape

(2154307, 41)

In [34]:
df.head()

,cruiseid,lat,lon,depth,bottom,press,temp,salt,o2,po4,...,dens,bsi,lsi,pco2,urea,mn,fe2,etopo,sigma0,nstar
0,[A12_06AQANTX_4],-69.0,0.0167,9.751581,3378.35,9.6,-1.8469,34.2978,312.8,2.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.036,27.617808,NaN
1,[A12_06AQANTX_4],-69.0,0.0167,39.846279,3378.35,40.1,-1.8242,34.2971,312.7,2.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.036,27.616556,NaN
2,[A12_06AQANTX_4],-69.0,0.0167,68.894464,3378.35,69.5,-1.7451,34.31265,311.4,2.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.036,27.627378,NaN
3,[A12_06AQANTX_4],-69.0,0.0167,98.935306,3378.35,99.9,-1.1087,34.4279,278.3,2.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.036,27.700333,NaN
4,[A12_06AQANTX_4],-69.0,0.0167,148.86656,3378.35,150.3,0.3006,34.5888,220.6,2.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.036,27.764191,NaN

In [35]:
df = df.drop(columns = ['cruiseid'])

In [36]:
df['target'] = df['nh4']

In [37]:
df = df.drop(columns = ['nh4'])

In [38]:
df.shape

(2154307, 40)

In [11]:
print(df.columns.tolist())

['lat', 'lon', 'depth', 'bottom', 'press', 'temp', 'salt', 'o2', 'po4', 'no3', 'no2', 'sio2', 'chl', 'doc', 'don', 'station', 'no3_no2', 'poc', 'pon', 'pop', 'n2o', 'dop', 'n2_excess', 'n2_biogenic', 'ch4', 'fe', 'dic', 'alk', 'phaeo', 'dens', 'bsi', 'lsi', 'pco2', 'urea', 'mn', 'fe2', 'etopo', 'sigma0', 'nstar', 'target']

In [59]:
df.to_csv('ammonia.csv')