In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from scipy.io import loadmat
mat = loadmat(r'/Users/varunpatro/Desktop/OBEG/ammonia_grid.mat')

In [3]:
data = mat['nh4']

In [4]:
type(data)

numpy.ndarray

In [5]:
data.shape

(1, 1)

In [13]:
mdtype = data.dtype

In [14]:
ndata = {n: data[n][0, 0] for n in mdtype.names}

In [59]:
nh4_concs = (((ndata['res1p0'])[0,0])[0])

In [60]:
counts = (((ndata['res1p0'])[0,0])[1])

In [62]:
nh4_concs.shape

(360, 180, 102, 12)

In [64]:
months = [None] * 12

In [65]:
months

[None, None, None, None, None, None, None, None, None, None, None, None]

In [66]:
for i in range(12):
    months[i] = nh4_concs[:,:,:,i]

In [67]:
months[0].shape

(360, 180, 102)

In [68]:
month_counts = [None] * 12
for i in range(12):
    month_counts[i] = counts[:,:,:,i]

In [69]:
month_counts[0].shape

(360, 180, 102)

In [83]:
# building columns of data frame

lat_pts = np.linspace(-89.5,90.5,180,False)
lat_col = []

for i in range(360):
    lat_col.append(lat_pts)

In [84]:
lat_col = [item for sublist in lat_col for item in sublist]

In [85]:
len(lat_col)

64800

In [86]:
lon_pts = np.linspace(-179.5, 180.5, 360, False)
print(len(lon_pts))

360

In [88]:
lon_col = []

In [89]:
for i in range(360):
    for j in range(180):
        lon_col.append(lon_pts[i])

In [90]:
len(lon_col)

64800

In [91]:
df = pd.DataFrame({'lat':lat_col})

In [92]:
df['lon'] = lon_col

In [93]:
df.head()

    lat    lon
0 -89.5 -179.5
1 -88.5 -179.5
2 -87.5 -179.5
3 -86.5 -179.5
4 -85.5 -179.5