In [60]:
import pandas as pd
import numpy as np
import numpy.ma as ma
import math

In [6]:
lat_bounds = range(-90,91)
lon_bounds = range(-180,180)

In [8]:
import netCDF4 as nc
path = '/Users/varunpatro/Desktop/OBEG/woa18_decav_t14_01.nc'
depth_data = nc.Dataset(path)

In [11]:
depth_bands = depth_data['depth_bnds'][:]

In [18]:
depth_bands = ma.getdata(depth_bands)

In [79]:
depth_bands

array([[0.000e+00, 2.500e+00],
       [2.500e+00, 7.500e+00],
       [7.500e+00, 1.250e+01],
       [1.250e+01, 1.750e+01],
       [1.750e+01, 2.250e+01],
       [2.250e+01, 2.750e+01],
       [2.750e+01, 3.250e+01],
       [3.250e+01, 3.750e+01],
       [3.750e+01, 4.250e+01],
       [4.250e+01, 4.750e+01],
       [4.750e+01, 5.250e+01],
       [5.250e+01, 5.750e+01],
       [5.750e+01, 6.250e+01],
       [6.250e+01, 6.750e+01],
       [6.750e+01, 7.250e+01],
       [7.250e+01, 7.750e+01],
       [7.750e+01, 8.250e+01],
       [8.250e+01, 8.750e+01],
       [8.750e+01, 9.250e+01],
       [9.250e+01, 9.750e+01],
       [9.750e+01, 1.125e+02],
       [1.125e+02, 1.375e+02],
       [1.375e+02, 1.625e+02],
       [1.625e+02, 1.875e+02],
       [1.875e+02, 2.125e+02],
       [2.125e+02, 2.375e+02],
       [2.375e+02, 2.625e+02],
       [2.625e+02, 2.875e+02],
       [2.875e+02, 3.125e+02],
       [3.125e+02, 3.375e+02],
       [3.375e+02, 3.625e+02],
       [3.625e+02, 3.875e+02],
       [3.875e+02, 4.125e+02],
       [4.125e+02, 4.375e+02],
       [4.375e+02, 4.625e+02],
       [4.625e+02, 4.875e+02],
       [4.875e+02, 5.250e+02],
       [5.250e+02, 5.750e+02],
       [5.750e+02, 6.250e+02],
       [6.250e+02, 6.750e+02],
       [6.750e+02, 7.250e+02],
       [7.250e+02, 7.750e+02],
       [7.750e+02, 8.250e+02],
       [8.250e+02, 8.750e+02],
       [8.750e+02, 9.250e+02],
       [9.250e+02, 9.750e+02],
       [9.750e+02, 1.025e+03],
       [1.025e+03, 1.075e+03],
       [1.075e+03, 1.125e+03],
       [1.125e+03, 1.175e+03],
       [1.175e+03, 1.225e+03],
       [1.225e+03, 1.275e+03],
       [1.275e+03, 1.325e+03],
       [1.325e+03, 1.375e+03],
       [1.375e+03, 1.425e+03],
       [1.425e+03, 1.475e+03],
       [1.475e+03, 1.525e+03],
       [1.525e+03, 1.575e+03],
       [1.575e+03, 1.625e+03],
       [1.625e+03, 1.675e+03],
       [1.675e+03, 1.725e+03],
       [1.725e+03, 1.775e+03],
       [1.775e+03, 1.825e+03],
       [1.825e+03, 1.875e+03],
       [1.875e+03, 1.925e+03],
       [1.925e+03, 1.975e+03],
       [1.975e+03, 2.050e+03],
       [2.050e+03, 2.150e+03],
       [2.150e+03, 2.250e+03],
       [2.250e+03, 2.350e+03],
       [2.350e+03, 2.450e+03],
       [2.450e+03, 2.550e+03],
       [2.550e+03, 2.650e+03],
       [2.650e+03, 2.750e+03],
       [2.750e+03, 2.850e+03],
       [2.850e+03, 2.950e+03],
       [2.950e+03, 3.050e+03],
       [3.050e+03, 3.150e+03],
       [3.150e+03, 3.250e+03],
       [3.250e+03, 3.350e+03],
       [3.350e+03, 3.450e+03],
       [3.450e+03, 3.550e+03],
       [3.550e+03, 3.650e+03],
       [3.650e+03, 3.750e+03],
       [3.750e+03, 3.850e+03],
       [3.850e+03, 3.950e+03],
       [3.950e+03, 4.050e+03],
       [4.050e+03, 4.150e+03],
       [4.150e+03, 4.250e+03],
       [4.250e+03, 4.350e+03],
       [4.350e+03, 4.450e+03],
       [4.450e+03, 4.550e+03],
       [4.550e+03, 4.650e+03],
       [4.650e+03, 4.750e+03],
       [4.750e+03, 4.850e+03],
       [4.850e+03, 4.950e+03],
       [4.950e+03, 5.050e+03],
       [5.050e+03, 5.150e+03],
       [5.150e+03, 5.250e+03],
       [5.250e+03, 5.350e+03],
       [5.350e+03, 5.450e+03],
       [5.450e+03, 5.500e+03]], dtype=float32)

In [30]:
lat_points = np.linspace(-89.5,90.5,180,False)
lon_points = np.linspace(-179.5, 180.5, 360, False)

In [33]:
months = range(1,13)

In [37]:
df = pd.read_csv('/Users/varunpatro/Desktop/OBEG/df_for_grid.csv')

In [40]:
df = df.drop(columns = 'Unnamed: 0')

In [42]:
df.head()

,lat,lon,depth,bottom,press,temp,salt,o2,po4,no3,...,pco2,urea,mn,fe2,etopo,sigma0,nstar,target,date,geometry
0,-68.367,38.643,0.000000,1560.0,0.000000,-1.80,33.604,334.753333,1.89,26.74,...,NaN,NaN,NaN,NaN,923.6792,27.052372,-3.30,0.4,2.0,POINT (38.643 -68.367)
1,-68.367,38.643,18.938429,1560.0,19.115000,-1.80,33.600,338.230000,1.91,26.49,...,NaN,NaN,NaN,NaN,923.6792,27.049093,-3.89,0.5,2.0,POINT (38.643 -68.367)
2,-68.367,38.643,48.932599,1560.0,49.392667,-1.75,33.672,335.646667,1.94,27.02,...,NaN,NaN,NaN,NaN,923.6792,27.106506,-3.89,0.5,2.0,POINT (38.643 -68.367)
3,-68.367,38.643,72.899429,1560.0,73.589000,-1.74,33.963,331.176667,2.06,28.00,...,NaN,NaN,NaN,NaN,923.6792,27.342829,-4.83,0.5,2.0,POINT (38.643 -68.367)
4,-68.367,38.643,96.864386,1560.0,97.786333,-1.75,34.045,328.196667,2.06,28.51,...,NaN,NaN,NaN,NaN,923.6792,27.409877,-4.30,0.3,2.0,POINT (38.643 -68.367)

In [80]:
grid = np.zeros((180,360))
for lat in lat_points[0:1]:
    for lon in lon_points[0:1]:
        for band in depth_bands[0:1]:
            rows = pd.DataFrame()
            rows = df[(df['lon'] <= lon + 0.5) & (df['lon'] >= lon - 0.5) & \
                          (df['lat'] <= lat + 0.5) & (df['lat'] >= lat - 0.5) & \
                          (df['depth'] <= band[1]) & (df['depth'] >= band[0])]
            print(rows)
            average = rows['target'].mean()
            grid[math.floor(lat-0.5)+90, math.floor(lon-0.5)+180] = average

Empty DataFrame
Columns: [lat, lon, depth, bottom, press, temp, salt, o2, po4, no3, no2, sio2, chl, doc, don, station, no3_no2, poc, pon, pop, n2o, dop, n2_excess, n2_biogenic, ch4, fe, dic, alk, phaeo, dens, bsi, lsi, pco2, urea, mn, fe2, etopo, sigma0, nstar, target, date, geometry]
Index: []

[0 rows x 42 columns]

In [78]:
grid[0]

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])